:root {
    --background-color: #0d00fe;
    --font-family: "Roboto", serif;
    --background-color: #003057;
    --font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    color: #333;
    line-height: 1.6;
    /* display: grid; */
    /* grid-template-rows: auto 1fr auto; */
    /* min-height: 100vh; */
    background-color: #f4f4f4;
}

.main-header {
    background-color: var(--background-color);
    color: white;
    width: 100%;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.main-header .profile-picture {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-header .profile-picture img {
    width: 80px;
    height: 80px;
}

.main-menu {
    width: 100%;
    background-color: #000;
    padding: 0;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 60px;
    margin: 0;
}

.navigation a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigation a.active {
    background-color: white;
    color: black;
}


#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 16px;

}

#cards section {
    background-color: rgba(3, 34, 58, 0.496);
    padding: 8px;
    border-color: 1px solid #f4f4f4;
    text-align: center;
    transition: transform 0.3s ease;

}

#cards #cards section:hover {
    transform: scale(1.05); /* Slight zoom */
}

#cards section p {
    color: white;
}

#cards img {
    max-width: 100%;
    height: auto;
}

#cards h2 {
    font-family: var(--font-family);
    color: white;
    padding: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 10px;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: center;
    overflow: hidden;
}


footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    background-color: var(--background-color);
    color: white;
    width: 100%;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
footer {
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem;
}
    }
@media (min-width: 769px) {
    
    footer {
        width: 100%;
        padding: 1rem;
    }
}